.input-container {
    display: flex;
    justify-content: center;
}

label {
    margin: 0px 10px;
}

input[type="number"] {
    cursor: pointer;
    user-select: none;
    width: 30px;
    border: 0px;
    text-align: center;
    margin-left: 5px;
    caret-color: transparent;  
}

input[type="number"]::selection {
    background-color: transparent;
}

input[type="number"]:focus {
    outline: none;
}

.puzzle-control-button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}