.puzzle-board {
    user-select: none;
    margin: 20px 200px;
    display: grid;
    grid-gap: 1px;
    position: absolute; 
    max-width: 90vw; 
    max-height: 90vh; 
    overflow: hidden; 
    align-content: start; 
}
